body {
    background-color: #F1FAEE;
    font-family: 'Roboto', sans-serif;
    font-size: 20;
    color: black;
    background-image: url(imgs/fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: #457b9de7;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    padding: 15px 0;
    font-size: 1.4em;
}

nav a {
    text-decoration: none;
    display: inline;
    color: black;
}

nav img {
    margin: 0 100px 0 30px;
}

nav button {
    border: none;
    background-color: #E63946;
    border-radius: 5%;
    font-family: 'Roboto', sans-serif;
    color: black;
    height: 35px;
    font-size: 1em;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: whitesmoke;
}

h2 {
    text-align: center;
}

main {  
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.card {
    background-color: #1d3557d8;
    color: whitesmoke;
    width: 70%;
    border-radius: 1%;
    margin: 50px auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.left-side, .right-side {
    margin: 0 30px;
}

.left-side ul {
    display: inline;
}

.right-side img {
    max-width: 80%;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 18px;
    margin: 50px;
    margin-left: 20%;
    padding: 30px;
    width: 50%;
    margin-left: 25%;
    }
    
input, label {
    display: block;
    outline: none;
    border: none;
    height: 25px;
    width: 190px;
    margin: 10px;
}
    
input{
    border: 1px solid #cbcbcb;
    background-color:#eee;
}
    
.inputs {
    grid-gap: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-weight: 700;
    }

form button {
    width: 100px;
}

footer {
    background-color: #457b9de7;
    height: 50px;
    text-align: center;
}





@media screen and (max-width: 1024px){    
    nav a {
        font-size: 0.9em;
    }

    nav button {
        font-size: 0.7em;
        height: 31px;
    }

    .card {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .menu-burger {
        position: relative; 
        width: 40px; 
        height: 35px;
        display: block;
        margin-left: 10px;
    }
    .menu-burger span, .menu-burger:after, .menu-burger:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger span{
        top: 16px;
    }
    .menu-burger:after, .menu-burger:before{
        content: '';
    }
    .menu-burger:after{
        bottom: 5px;
    }
    .menu-burger:before{
        top: 5px;
    }
    nav a, nav button {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: #457B9D;
        width: 100%;
    }
    .nav a, nav button {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }
    .menu-burger.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
}

